
.admin-login-title {
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    margin-bottom: 40px;
}

.admin-login {
    width: 45%;
    min-width: 300px;
    margin: 2em auto;
    background-color: #F4F4F4;
    padding: 40px;
    border-radius: 20px;
}

label {
    margin-top: 4px;
}

button {
    width: 100%;
    margin-top: 20px;
}
