[v-cloak] {
	display: none;
}

* {
	padding: 0;
	margin: 0;
}

.head {
	background-color: #CCFFFF;
	padding: 2em;
}

.head:after {
	display: block;
	clear: both;
	content: "";
}

.head-up {
	font-size: 300%;
	line-height: 180%;
	float: left;
	margin-left: 1em;
}

.head-down {
	float: right;
	line-height: 500%;
}

.main {
	/*background-color: #F5F5F5;*/
	padding: 1em;
}

.order-items-con:after {
	display: block;
	clear: both;
	content: "";
}

.order-item {
	background-color: #F5F5F5;
	border-radius: 0.2em;
	padding: 1em;
	margin: 1.2em;
	width: 30em;
	display: flex;
	justify-content: space-between;
	float: left;
}

.order-info {
	flex-grow: 1;
}

.order-img {
	margin-left: 15px;
	flex-grow: 0;
}

#pay-goods {
	display: inline-block;
	/* position: absolute; */
	margin: 2em 4em;
	/* right: 4em; */
	float: right;
}

#pay-goods > span {
	font-size: 1.4em;
	margin-right: 1em;
}
