<!DOCTYPE html>
<html>
<head>
	<title>我的购物车</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../css/cart.css">
</head>
<body>
	<div id="app">
		<div class="head">
			<div class="head-up">
				我的购物车
			</div>
			<div class="head-down">
				<button class="btn btn-primary" onclick="window.open('/html/store.html','_self')">返回商铺</button>
				<button class="btn btn-danger" @click="logout">登出</button>
			</div>
		</div>
		<div class="main">
			<div v-if="ordData.length==0">购物车暂空</div>
			<div class="order-items-con" v-if="ordData.length!=0">
				<div class="order-item" v-for="(item,index) in ordData">
					<div class="order-info">
						<p>商品编号：{{item.GoodsID}}</p>
						<p>商品名称：{{item.GoodsName}}</p>
						<p>商品价格：{{item.GoodsPrice}}</p>
						<p>购买数量：{{item.GoodsCount}}</p>
						<p>价格总计：{{item.ItemPrice}}</p>
						<p><button class="btn btn-danger btn-sm" @click="removeGoods(index)">移除商品</button></p>
					</div>
					<div class="order-img" v-if="ordData.length!=0">
						<img :src="item?item.GoodsPicture:'/img/img2.jpg'" alt="这里应该是150*150的图片" width="150" height="150">
					</div>
				</div>
			</div>
			<div id="pay-goods" v-if="ordData.length!=0">
				<span>合计：{{totalPrice}}</span>
				<button class="btn btn-success btn-lg" @click="payGoods()">确认购买</button>
			</div>
		</div>
	</div>
	<script src="../js/jq.js"></script>
	<script src="../js/vue.js"></script>
	<script src="../js/cart.js"></script>
</body>
</html>